@model IEnumerable<Post>
@{
    ViewData["Title"] = "Ćaskanje";
    var userName = User.Identity.Name;
}

<script>
    window.onload = function () {
        var objText = document.getElementById("messageText");
        objText.focus();
    }
</script>
<div class="chat card h-100 my-4">
    <div class="card-body msg_card_body h-100">
        @if (Model != null)
        {
            <div id="chat">

                @foreach (var post in Model.OrderBy(p => p.CreationDate))
                {
                    string container, justify, time;
                    if (userName == post.UserName)
                    {
                        container = "msg_container_send";
                        justify = "justify-content-end";
                        time = "msg_time_send";
                    }
                    else
                    {
                        container = "msg_container";
                        justify = "justify-content-begin";
                        time = "msg_time";
                    }

                    <div class="d-flex @justify mb-4">
                        <div class="@container">
                            <i style="color: darkred">@post.UserName</i>
                            <p>@post.Text</p>
                            <span class="@time" id="creationDate">@post.CreationDate.ToString("M/dd/yyyy hh:MM tt")</span>
                        </div>
                    </div>
                }
            </div>
        }

        <div class="card-footer">
            <form class="input-group" asp-action="CreatePost"
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div asp-validation-summary="ModelOnly" class="input-group-append text-danger"></div>
                <input name="Text" class="form-control type_msg" id="messageText" autocomplete="off" />
                <div class="input-group-append">
                    <input type="submit" value="Pošalji" id="submitButton" class="input-group-text send_btn" />
                </div>
                <input type="hidden" value="@userName" name="username" />
            </form>
        </div>

    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
    </script>
}

@section scripts {
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signalrRequestHandler.js"></script>
}
